body{
    background: url(img.jpg) ;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 50px ,5%;
}
.container{
    position: center;
    height: 80vh;
    border-radius:30px;
    background: rgb(255, 255, 255,.1);
    margin-top: 60px ;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom:30px ;
    backdrop-filter: blur(30px) ;

}
header{
    position: absolute;
    top:10px;
    left: 85px;
    right: 85px;
    
    border-radius: 30px;
    padding: 25px 5%;
    align-items: center;
    display: flex;
    justify-content: space-between;

}
.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: medium;
    color: rgb(218, 8, 218);
    
    
}
.navbar li a {
    color: rgb(251, 248, 249);
}
.p{
    font-size: larger;
    color: rgb(248, 247, 248);
    padding-left: 0px;
}
.home {
    display: list-item;
    padding-left: 50px;
    padding-top: 220px;
    color: aliceblue;


}
.btn{
    display: inline-block;
    color: rgb(122, 15, 141);
    background: white;
    border-radius: 30px;
    padding: 3px 5px 2px 7px ;
    box-shadow: 4px 0px 4px 4px #c506b5;
    transition: .10s;
    height: 5vb;
    width: 15vb;
}
.btn:active{
    background:rgb(255, 255, 255,.1);
    color: pink;
}
    
.social_icones{
    display: flex;
    
}

i{
    display: inline-block;
    color: rgb(122, 15, 141);
    background: white;
    border-radius: 30px;
    margin-left: 10px;
    padding: 3px 3px 3px 3px ;
    box-shadow: 0px 0px 4px 4px #c506b5;
    transition: .10s;
}
   
.home_detail{
    display: flex;
    
}
.ri-instagram-fill{
    margin-left: 50px;
    
}

i:active{
    background:rgb(255, 255, 255,.1);
    color: pink;

}
img {
  width: 300px;
  height: 300px;
  display: inline-block;
  color: rgb(122, 15, 141);
  background: white;
  border-radius: 50%;
  border:  2px solid white;
  box-shadow: 0px 0px 5px 5px #f9f2f8;
  position: relative;
  left: 500px;
  bottom: 220px;
  
  
}
.about p{
    display: list-item;
    padding-left: 50px;
    padding-top: 220px;
    color: aliceblue;
    font-size: larger;
}
.service p{
    display: list-item;
    padding-left: 50px;
    padding-top: 220px;
    color: aliceblue;
    font-size: larger;
    position: relative;
    
}
.portfolio p{
    display: list-item;
    padding-left: 50px;
    padding-top: 220px;
    color: aliceblue;
    font-size: larger;
    position: relative;
}
.souligne{
    text-decoration: underline;
}
.portfolio a {
    display: inline-block;
    color: rgb(122, 15, 141);
    background: white;
    border-radius: 30px;
    padding: 3px 5px 1px 7px ;
    box-shadow: 4px 0px 4px 4px #c506b5;
    transition: .10s;
    height: 5vb;
    width: 10vb;
    position: relative;
    left: 45vb;
    
    
    
}
.portfolio a:active{
    background:rgb(255, 255, 255,.1);
    color: pink;
    
}
.git{
    position: relative;
    left: 25vb;
}




